<h4>form person</h4>
<form class="form-inline">
    <div class="form-group">
      <label >Ci</label>
      <input name="ci" type="text" class="form-control" [(ngModel)]="person.ci" placeholder="Jane Doe">
    </div>
    <br><br>
    <div class="form-group">
        <label>Name</label>
        <input name="name" type="text" class="form-control" [(ngModel)]="person.name" placeholder="Jane Doe">
    </div>
    <br><br>
    <div class="form-group">
      <label>Last Name</label>
      <input name="lastName" type="text" class="form-control" [(ngModel)]="person.lastName" placeholder="jane.doe@example.com">
    </div>
    <br><br>
</form>
